<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mshare</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load staticfiles %}
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>

div.image {
    position: relative;
    }
    div.imagetext{
    position:absolute;
    top=1px;
        left: 10px;
    width=100%;
    }
    div.imageback{
        opacity: 0;
    }
    div.imageback:hover{
        position: relative;
        opacity: 1;
    }
    li.listitem{
        display: inline;
    }
    ul{
         list-style-type: none;
    }

</style>
</head>
<body class="body" style="background-color: black">
{% block content %}
{% endblock %}
      <script src="{% static 'music/js/jquery.nicescroll.js' %}"></script>
      <script src="{%  static 'music/js/scripts.js' %}"></script>
</body>
</html>